@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;500&family=Signika+Negative:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Roboto Slab', serif;
}

:root {
    --primary-color: #e1893f;
    --secondary-color: #a46232;
    --light-color: #fff;
    --dark-color: #000;
    --lightdark-color: #222;
    --lighterdark-color: #333;
    --font-color: #008000;
}

html {

    overflow-x: hidden;
}

body {
    overflow-x: hidden;

}

img {
    width: 100%;
    height: auto;
}

/* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: -1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Control the left side */
.left {
    left: 0;
    color: #d4b609;
    background-color: #333;
}

/* Control the right side */
.right {
    right: 0;
    background-color: #e1a546;
}

/* If you want the content centered horizontally and vertically */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
    width: 100%;

}



.contact ul li {
    list-style: none;
    margin-left: 20px;
    text-decoration: none;
}

.btn {
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.6));
}

.btn span {
    display: inline-block;
    position: relative;
    color: #fff;
    text-shadow: 2px 2px #000;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 50px;
    text-align: center;
    clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 0 50%);
    background-color: #ffc850;
    background-image: radial-gradient(200% 70% at center 20%, #5f4b55 -30%, #826469 49%, #e1a546 50%, #ffdc64 150%);
    background-repeat: no-repeat;
    transition: background-position-y ease-in-out 250ms;
}

.btn:hover span {
    background-position-y: -50px;
}

.hex {
    display: inline-block;
    position: relative;
    padding: 15px 50px;
    text-align: center;
    clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 0 50%);
    background-color: #ffc850;
    background-image: radial-gradient(200% 70% at center 20%, #5f4b55 -30%, #826469 49%, #e1a546 50%, #ffdc64 150%);
    background-repeat: no-repeat;
    transition: background-position-y ease-in-out 250ms;
}


.slide-row {
    display: flex;
    width: 3200px;
    transition: 0.5s;
}

.slide-col {
    width: 800px;
    height: 400px;
    position: relative;
}

.user-img {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

.user-img img {
    height: 100%;

}

.user-text {
    background: #826469;
    width: 520px;
    height: 270px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 10px;
    color: #d4b609;
    padding: 45px;
    box-sizing: border-box;
    box-shadow: 1px 5px 5px rgba(8, 8, 8, 0.5);
}

.user-text p {
    font-size: 18px;
    line-height: 24px;
}

.user-text h3 {
    margin: 5px 0 5px;
    color: #fff;
}

.container {
    width: 800px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.indicator {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -50px;
}

.btnS {
    display: inline-block;
    height: 15px;
    width: 15px;
    margin: 4px;
    border-radius: 15px;
    background-color: #e4eaf8;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 1px 5px 4px rgba(8, 8, 8, 0.5);
}

.active {
    width: 45px;
}

.testimonial {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/*--- HAMBURGER ---*/
.menu-btn {
    position: fixed;
    right: 0;
    display: none;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    z-index: 100;

}

.menu-btn_burger {
    width: 50px;
    height: 6px;
    background: #a0a0a0de;
    border-radius: 5px;
    box-shadow: 0 2px 5px var(--lightdark-color);
    transition: all .5s ease-in-out;
    z-index: 100;
}

.menu-btn_burger::before,
.menu-btn_burger::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background: #a0a0a0de;
    border-radius: 5px;
    box-shadow: 0 2px 5px var(--lightdark-color);
    transition: all .5s ease-in-out;
}

.menu-btn_burger::before {
    transform: translateY(-16px);
}

.menu-btn_burger::after {
    transform: translateY(16px);
}

/* HAMBURGER ANIMATION */
.menu-btn.open .menu-btn_burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.menu-btn.open .menu-btn_burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn_burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

/* HAMBURGER ANIMATION */
/*--- HAMBURGER ---*/
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 100px 30px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.logo img {
    width: 6rem !important;
    margin-left: 5em;
}
.cart img{
    padding: .5em;
}
.cart {
    border: 2px solid #e1a546;
    border-radius: 50%;
    margin-left: 2em;
}

.cart:hover {    
    border: 2px solid #333;
  border-radius: 50%;
    
    
    
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin-left: 20px;
}

header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #333;
    border-radius: 20px;
    font-size: 1.3rem;
}

header ul li a:hover,
header ul li a.active {
    background-color: #333;
    /* background-image: url(./img/bg.jpg);
    background-size: 400%; */
    color: #d4b609;
}

/* ---HEADER---*/



/*--- MEDIA ---*/

@media (max-width: 480px) {
    html {
        font-size: 55%;
    }

    .main {
        width: 100%;
    }

    .main #text {
        font-size: 20vw;
        left: 0.6em;
    }

    .portfolio {
        padding: 1rem 14% 2rem;
    }

    .portfolioContainer {
        gap: 6rem
    }

    .card {
        min-width: 180px;
    }

    footer h4 {
        font-size: 1.2rem;
    }

    footer a img {
        width: 80px;
    }



}

@media (max-width: 530px) {
    .about {
        display: grid;
    }

    .right-img img {
        min-width: 15rem;
    }

    .contactContainer #left {
        min-width: 700px;
        height: auto;
    }

    .contactContainer #tnt {
        min-width: 600px;
        height: auto;
    }

    .boomContact #boom {
        min-width: 800px;
        height: auto;
    }
}

@media (max-width: 700px) {

    .portfolioContainer {
        margin: 5rem 5rem;
        grid-template-columns: 1fr;
    }

}

@media (max-width: 768px) {
    header {
        margin: 1em;
    }

    .menu-btn {
        display: flex;
    }

    .menu {
        display: none;
    }

    #nav.active {
        display: block;
    }

    #nav a {
        display: none;
    }

    .container {
        width: 750px;
    }
}

@media (max-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (max-width: 1150px) {}




.mobile-nav {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 50px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    z-index: 9;
    background-color: #094b6591;
    padding-top: 6em;
    transition: 0.4s;
}

.mobile-nav.is-active {
    left: 0;
}


.mobile-nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    margin: 2em;
}

.mobile-nav ul li {
    text-align: center;
    list-style: none;
    margin-left: 20px;
}

.mobile-nav ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: var(--dark-color);
    border-radius: 20px;
    font-size: 2rem;
}

.mobile-nav ul li a:hover,
.mobile-nav ul li a.active {
    background: var(--dark-color);
    color: var(--light-color);
}

/* SHOW ANIMATION */

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

/* SHOW ANIMATION */