  @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;500&family=Signika+Negative:wght@300;500&display=swap');

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      text-decoration: none;
      border: none;
      outline: none;
      scroll-behavior: smooth;
      font-family: 'Roboto Slab', serif;
  }

  :root {
      --primary-color: #e1893f;
      --secondary-color: #a46232;
      --light-color: #fff;
      --dark-color: #000;
      --lightdark-color: #222;
      --lighterdark-color: #333;
      --font-color: #008000;
  }

  html {
      font-size: 62.5%;
      overflow-x: hidden;
  }

  /*--- SCROLLBAR ---*/
  ::-webkit-scrollbar {
      width: 10px;
  }

  ::-webkit-scrollbar-track {
      background: var(--lighterdark-color);
  }

  ::-webkit-scrollbar-thumb {
      background: #1b1b1b;
  }

  ::-webkit-scrollbar-thumb:hover {
      background: var(--dark-color);
  }

  /*--- SCROLLBAR ---*/
  body {
      overflow-x: hidden;
      background-color: var(--primary-color);
  }

  /* ---HEADER---*/
  .container {
      margin-right: auto;
      margin-left: auto;
      padding-right: 15px;
      padding-left: 15px;
      width: 100%;
      max-width: 100%;
  }

  /*--- HAMBURGER ---*/
  .menu-btn {
      position: fixed;
      right: 0;
      display: none;
      justify-content: center;
      align-items: center;
      width: 80px;
      height: 80px;
      cursor: pointer;
      transition: all .5s ease-in-out;
      z-index: 100;

  }

  .menu-btn_burger {
      width: 50px;
      height: 6px;
      background: #a0a0a0de;
      border-radius: 5px;
      box-shadow: 0 2px 5px var(--lightdark-color);
      transition: all .5s ease-in-out;
      z-index: 100;
  }

  .menu-btn_burger::before,
  .menu-btn_burger::after {
      content: '';
      position: absolute;
      width: 50px;
      height: 6px;
      background: #a0a0a0de;
      border-radius: 5px;
      box-shadow: 0 2px 5px var(--lightdark-color);
      transition: all .5s ease-in-out;
  }

  .menu-btn_burger::before {
      transform: translateY(-16px);
  }

  .menu-btn_burger::after {
      transform: translateY(16px);
  }

  /* HAMBURGER ANIMATION */
  .menu-btn.open .menu-btn_burger {
      transform: translateX(-50px);
      background: transparent;
      box-shadow: none;
  }

  .menu-btn.open .menu-btn_burger::before {
      transform: rotate(45deg) translate(35px, -35px);
  }

  .menu-btn.open .menu-btn_burger::after {
      transform: rotate(-45deg) translate(35px, 35px);
  }

  /* HAMBURGER ANIMATION */
  /*--- HAMBURGER ---*/
  header {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 30px 100px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 10;
  }

  .logo img {
      width: 12rem !important;
      margin-left: 5em;
      filter: drop-shadow(0px 3px 4px #333)
  }

  header ul {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  header ul li {
      list-style: none;
      margin-left: 20px;
  }

  header ul li a {
      text-decoration: none;
      padding: 6px 15px;
      color: var(--dark-color);
      border-radius: 20px;
      font-size: 2rem;
  }

  header ul li a:hover,
  header ul li a.active {
      background: var(--dark-color);
      color: var(--light-color);
  }

  /* ---HEADER---*/

  /* ---MAIN SECTION---*/
  .main {
      position: relative;
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .main::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 35px;
      background: linear-gradient(to top, var(--primary-color), transparent);
      z-index: 1;
  }

  .main img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      pointer-events: none;

  }

  .main #text {
      position: absolute;
      color: var(--dark-color);
      font-size: 7vw;
      bottom: 0;
      left: 5em;
      text-align: center;
      line-height: 0.55em;
      align-items: center;
  }

  .main #text span {
      font-size: 0.20em;
      letter-spacing: 2px;
      font-weight: 400;
      align-items: center;
  }

  /* ---MAIN SECTION---*/

  /* ---ABOUT SECTION---*/
  .aboutSection {
      background: var(--primary-color);
      position: relative;
      min-height: 100vh;
      padding: 10rem 9% 2rem;
  }

  .about {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .intro h3 {
      position: relative;
      font-size: 3rem;
      font-weight: 700;
      z-index: 8;
  }

  .intro h1 {
      position: relative;
      font-size: 4rem;
      font-weight: 700;
      line-height: 1.3;
      z-index: 8;
  }

  span {
      color: var(--font-color);
      z-index: 8;
  }

  .intro p {
      position: relative;
      margin-top: 1rem;
      font-size: 1.6rem;
      z-index: 8;
  }

  .right-img img {
      position: relative;
      width: 25vw;
      z-index: 8;
      filter: drop-shadow(2px 6px 4px #333)
      
  }

  .social-icon {
      position: relative;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      height: 46px;
      width: 46px;
      background: var(--lightdark-color);
      border: .2rem solid var(--lighterdark-color);
      border-radius: 50%;
      margin: 3rem 1.5rem 3rem 0;
      transition: .5s ease;
      z-index: 8;
  }

  .social-icon:hover {

      background: var(--lightdark-color);
      color: var(--secondary-color);
      box-shadow: 0 0 1rem var(--lightdark-color);
      z-index: 10;
  }

  .cvBtn {
      position: relative;
      display: inline-block;
      padding: 1rem 2.8rem;
      margin: 0 3rem 2rem 0;
      background: var(--lightdark-color);
      border-radius: 4rem;
      
      font-size: 1.6rem;
      color: var(--font-color);
      letter-spacing: .1rem;
      font-weight: 600;
      transition: .5s ease;
      z-index: 8;
  }

  .cvBtn:hover {
    box-shadow: 0 0 1rem var(--lightdark-color);
      z-index: 10;
  }

  .aboutA {
      z-index: 10;
  }

  /* ---ABOUT SECTION---*/

  /* ---PORTFOLIO SECTION---*/

  .portfolio {
      background: var(--secondary-color);
      position: relative;
      min-height: 100vh;
      /* padding: 10rem 14% 2rem; */
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .portolio h2 {
      margin-bottom: 4rem;
  }

  .portfolioContainer {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-content: center;
      gap: 2rem;
  }

  .card {
      position: relative;
      min-width: 20em;
      height: 23em;
      color: #2e2d31;
      background: #333;
      overflow: hidden;
      border-radius: 20px;
      box-shadow: 0 0 1rem var(--lightdark-color);
      z-index: 8;
  }
  .card .cvBtn {
    color: #a0a0a0;
  }

  .card_title {
      font-weight: bold;
      font-size: 2.7rem;
      margin-bottom: 2.1em;
  }

  .card_content {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      padding: 20px;
      background: #fcfdfd5b;
      border-top-left-radius: 20px;
      transform: translateY(110px);
      transition: transform .25s;
  }

  .card_content::before {
      content: '';
      position: absolute;
      top: -48px;
      right: -48px;
      width: 100px;
      height: 100px;
      transform: rotate(-175deg);
      border-radius: 50%;
      box-shadow: inset 48px 48px var(--lightdark-color);
  }

  .card_title {
      color: #131313;
      line-height: 15px;
  }

  .card_subtitle {
      display: block;
      font-size: 12px;
      margin-bottom: 10px;
  }

  .card_description {
      font-size: 14px;
      opacity: 0;
      transition: opacity .5s;
  }

  .card-img {
      max-width: 350px;
      height: 100%;
      transition: .25s ease;
  }

  .card:hover .card-img {
      transform: scale(1.1);
  }

  .card:hover .card_content {

      transform: translateY(0);
  }

  .card:hover .card_description {
      opacity: 1;
      transition-delay: .25s ease;
  }


  /* ---PORTFOLIO SECTION---*/

  /* ---CONTACT SECTION---*/
  .contact {
      background: var(--primary-color);

      position: relative;
      min-height: 100vh;
      padding: 10rem 9% 2rem
  }

  .contactContainer {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 50%;
      min-height: 100vh;
      width: 100%;

  }

  .contact img {
      display: block;

  }

  .contactContainer #left {
      position: relative;
      width: 150%;
      height: auto;
  }

  .contactContainer #tnt {
      position: absolute;
      width: 130%;
      height: auto;
      z-index: 7;
  }

  .boomContact {
      position: absolute;
      display: flex;

      justify-content: center;
      align-items: center;
      opacity: 0;
      transition: .7s ease;
      width: 100%;
      height: auto;


  }

  .active {
      z-index: 7;
      opacity: 1;
      transition: .7s ease;
  }

  .socText {
      position: absolute;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-evenly;

  }

  .boomContact h3 {
      font-size: 4em;
      color: var(--lightdark-color);
      z-index: 7;
  }

  .boomContact h3 span {
      color: #ff0000;
      text-shadow: 2px 2px var(--lightdark-color);
  }

  .boomContact #boom {
      width: 150%;
      height: auto;
      z-index: 6;
  }

  .boomsoc {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      z-index: 7;
  }

  .boomsoc .social-icon {
      margin: 3rem 1.5rem 3rem;
  }

  .boomsoc .social-icon:hover {
      background: var(--lightdark-color);
      box-shadow: 0 0 3rem red;
  }
  #left{
    filter: drop-shadow(8px 6px 4px #333)
  }
  #tnt{
    filter: drop-shadow(0px 3px 8px #333)
  }

  /* --- LINE DRAW --- */
  .line-container {
      position: absolute;
      top: 570px;
      width: 100vw;
      height: 320vh;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      overflow: hidden;
      z-index: 2;

  }

  svg {
      display: inline-block;
      max-width: 100%;
      height: 520vh;
      z-index: 2;
  }

  /* --- LINE DRAW --- */

  /*--- FOOTER ---*/
  footer {
      position: relative;
      font-size: 1.5rem;
      background: var(--secondary-color);
      display: flex;
      justify-content: center;
      align-items: center;
  }

  footer a img {
      width: 80px;
  }

  /*--- FOOTER ---*/

  /*--- MEDIA ---*/

  @media (max-width: 480px) {
      html {
          font-size: 55%;
      }

      .main {
          width: 100%;
      }

      .main #text {
          font-size: 20vw;
          left: 0.6em;
      }

      .portfolio {
          padding: 1rem 14% 2rem;
      }

      .portfolioContainer {
          gap: 6rem
      }

      .card {
          min-width: 300px;
      }
      .card-img{
        width: 100%;
      }

      footer h4 {
          font-size: 1.2rem;
      }

      footer a img {
          width: 80px;
      }



  }

  @media (max-width: 530px) {
      .about {
          display: grid;
      }

      .right-img img {
          min-width: 15rem;
      }

      .contactContainer #left {
          min-width: 700px;
          height: auto;
      }

      .contactContainer #tnt {
          min-width: 600px;
          height: auto;
      }

      .boomContact #boom {
          min-width: 800px;
          height: auto;
      }
  }

  

  @media (max-width: 768px) {
      header {
          margin: 1em;
      }

      .menu-btn {
          display: flex;
      }

      .menu {
          display: none;
      }

      #nav.active {
          display: block;
      }

      #nav a {
          display: none;
      }

      .container {
          width: 750px;
      }
  }

  @media (max-width: 992px) {
      .container {
          width: 970px;
      }
      .portfolioContainer {
        margin: 5rem 5rem;
        grid-template-columns: 1fr;
    }
  }

  @media (max-width: 1200px) {
    .line-container{
        display: none;
    }
      .container {
          width: 1170px;
      }
  }

  .mobile-nav {
      position: fixed;
      top: 0;
      left: 100%;
      width: 100%;
      min-height: 50px;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      z-index: 9;
      background-color: #094b6591;
      padding-top: 6em;
      transition: 0.4s;
  }

  .mobile-nav.is-active {
      left: 0;
  }


  .mobile-nav ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2em;
      margin: 2em;
  }

  .mobile-nav ul li {
      text-align: center;
      list-style: none;
      margin-left: 20px;
  }

  .mobile-nav ul li a {
      text-decoration: none;
      padding: 6px 15px;
      color: var(--dark-color);
      border-radius: 20px;
      font-size: 2rem;
  }

  .mobile-nav ul li a:hover,
  .mobile-nav ul li a.active {
      background: var(--dark-color);
      color: var(--light-color);
  }

  /* SHOW ANIMATION */

  .hidden {
      opacity: 0;
      filter: blur(5px);
      transform: translateX(-100%);
      transition: all 1s;
  }

  .show {
      opacity: 1;
      filter: blur(0);
      transform: translateX(0);
  }

  @media(prefers-reduced-motion) {
      .hidden {
          transition: none;
      }
  }

  /* SHOW ANIMATION */